<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            ><img src="./static/aa.png" style="max-width:100px; margin-top:
            -7px; alt=""></a
          >
        </li>
        <li>
          <h2 style="margin-top:30px;color: white;">Stay Home</h2>
        </li>
      </ul>
    </nav>
    <div class="container" style="text-align: center;">
      <h1 style="padding: 8px;">COVID-19 Statistics in IRAQ</h1>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card text-white bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">
              <i class="fas fa-users"></i> Confirmed: {{maxconfirmed}}
            </div>
            <div class="card-body">
              <div
                class="chart-container"
                style="position: relative; height:100%; width:100%"
              >
                <canvas id="confirmed"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="card text-white bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">
              <i class="fas fa-skull-crossbones"></i> Deaths: {{maxdeaths}}
            </div>
            <div class="card-body">
              <div
                class="chart-container"
                style="position: relative; height:100%; width:100%"
              >
                <canvas id="deaths"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="card text-white bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">
              <i class="fab fa-angellist"></i> Recovered: {{maxrecovered}}
            </div>
            <div class="card-body">
              <div
                class="chart-container"
                style="position: relative; height:100%; width:100%"
              >
                <canvas id="recovered"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="card text-white bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">Overall</div>
            <div class="card-body">
              <div
                class="chart-container"
                style="position: relative; height:100%; width:100%"
              >
                <canvas id="circle"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
  </body>

  <style>
    body {
      background-color: azure;
    }
    canvas {
      background-color: azure;
    }
  </style>
  <script>
    var ctx = document.getElementById('confirmed');

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {

              labels: [{% for item in date %}
              "{{ item }}",
             {% endfor %}],
            datasets: [{
                label: 'Cinfirmed',
                data: [{% for item in confirmed %}
                "{{ item }}",
               {% endfor %}],
               backgroundColor: "#99ccff",
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
  </script>
  <!-- ==================================================================================== -->
  <script>
    var ctx = document.getElementById('deaths');

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {

              labels: [{% for item in date %}
              "{{ item }}",
             {% endfor %}],
            datasets: [{
                label: 'Deaths',
                data: [{% for item in deaths %}
                "{{ item }}",
               {% endfor %}],
                borderWidth: 1,
                backgroundColor: "#99ccff",
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
  </script>
  <!-- ==================================================================================== -->
  <script>
    var ctx = document.getElementById('recovered');

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {

              labels: [{% for item in date %}
              "{{ item }}",
             {% endfor %}],
            datasets: [{
                label: 'Recovered',
                data: [{% for item in recovered %}
                "{{ item }}",
               {% endfor %}],
                borderWidth: 1,
                backgroundColor: "#99ccff",
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
  </script>

  <script>
    var ctx = document.getElementById('circle');

    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {

              labels: ['Deaths','Active','Recovered'],
            datasets: [{
                label: 'Recovered',
                data: [{{maxdeaths}},{{active}},{{maxrecovered}}],
                backgroundColor: ["red","orange","green"]

        }]},

    });
  </script>
  <style>
    .card-header {
      color: black;
    }

    .card-header {
      text-align: left;
    }

    body {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: brown;
    }
  </style>
</html>
